* { box-sizing: border-box; }
body {
    margin: 0;
    height: 100vh;
    width: 1920px;
    display: flex;
    flex-flow: column;
    align-content: center;
    color:#04090E;
    font-size: 0.8rem;
    font-family: "Share Tech Mono";
}

@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url(../assets/fonts/sharetechmono.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
#board {
    flex: 1;
    position: relative;
    background: url(../assets/board.jpg);
    background-size: cover;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
}
.controls button {
    background: -webkit-linear-gradient(top, #91D9D8 0%,#2E3388 100%);
    color: white;
    font-family: "share tech mono";
}
.controls button.disabled {
    background: -webkit-linear-gradient(top, rgb(180, 180, 180) 0%,rgb(78, 78, 82) 100%);
    color: rgb(218, 218, 218);
    font-family: "share tech mono";
}
.step-desc{
    border: 1px solid silver;
    height:70px;
    width: 350px;
    background-color:black;
    color:white;
    font-size:0.9em;
    padding-left:1em; padding-right:1em;
    padding-top:0.2em; padding-bottom:0.2em;
    overflow: auto;
}
.step-desc::-webkit-scrollbar {
    width: 10px;
}

.step-desc::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.8); 
}

..step-desc::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.8); 
}
#seed, #turn-number, #turn-step-id {
    font-weight: bold;
    font-size: 1.1rem;
}

.game-prop { transition: left 1s ease, top 1s ease; }
.pawn { background-size: contain; }
.sane { background-image: url(../assets/pawn-sane.svg); }
.incubating { background-image: url(../assets/pawn-incubating.svg); }
.sick { background-image: url(../assets/pawn-sick.svg); }
.healed { background-image: url(../assets/pawn-healed.svg); }
.planet-token { font-size: 2rem; }
.round-token { font-size: 1rem; }
.crisis-token { font-size: 1rem; }
.game-state { width: 450px }
.game-state-label {
    padding: 1rem;
    font-weight: bold;
}
.counter {
    position: absolute;
    width: 20px; height: 20px;
    padding: 0px;
    padding-top:auto; padding-bottom: auto;
    border: 1px solid white;
    border-radius:100px;
    background: -webkit-linear-gradient(top, #91D9D8 0%,#2E3388 100%);
    box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 1px 4px rgba(0,0,0,.4), 0 0 1px rgba(0,0,0,.7) inset, 0 10px 0px rgba(255,255,255,.11) inset; 
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font:bold 12px/16px "Helvetica Neue", sans-serif; 
    color: white;
    text-decoration: none;
    text-align:center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.6);
}
#sane { left: 1418px; top: 634px; }
#incubating { left: 1418px; top: 698px; }
#sick { left: 1418px; top: 762px; }
#healed { left: 1418px; top: 826px; }
#intro-overlay {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(255,255,255,0.8);
    border-radius: 30rem;
    z-index: 1;
}
#intro-overlay .content {
    color:rgb(50,50,255);
    margin:auto;
}
#end-overlay {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(255,255,255,0.8);
    border-radius: 30rem;
    z-index: 1;
}
#end-overlay .content {
    color:rgb(50,50,255);
    margin:auto;
}
#measures-overlay {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(255,255,255,0.8);
    border-radius: 30rem;
    z-index: 1;
}
.cards-container {
    padding: 8rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-right: 5%;
}
.card.measure {
    flex: 1;
    display: block;
    width: 13%;
}
.no-contamined {
    filter: opacity(0);
}
.contamined {
    filter: opacity(0.5);
}