body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-flow: column;
    font-size: 2rem;
}
#board {
    flex: 1;
    position: relative;
    background: url(../assets/board.jpg);
    background-size: cover;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.game-prop {
    transition: left 1s ease, top 1s ease;
}
.planet {
    width: 120px; height: 80px;
}
.slot {
    width: 25px; height: 25px;
}
.pawn {
    width: 20px; height: 20px;
    background-size: contain;
}
.planet-token {
    font-size: 5rem;
}
.game-state-label {
    padding: 1rem;
    font-weight: bold;
}
