.plateau {
    display: flex;
    align-items: start;
}
.plateau-ville {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.plateau-ville-tile {
    display: block;
    flex: 1 0 50%;
}
.plateau-hopital {
    width: 30%;
}
